
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" contents="width=device-width" />
    </head>
<body>
    <h3>Checkou Page</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Total amount to pay</th>
        </tr>
        <tr>
            <td>
                @ViewBag.total
            </td>
        </tr>
    </table>

</body>
</html>

